{% extends "layout.html" %}
{% block content %}
<div style="margin-top: 55px"
     class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1 class="h2">Analyse des capteurs</h1>
</div>
<p class="text-justify"> Exercice de Python porté sur l'IOT. Le but de cet exercice était de mettre en place
    une page web et
    une API REST avec Flask.
<h3 class="h3">Méthodes mises à disposition en REST :</h3>
<ul>
    <li><b>/api/get_last_means/sensor_id [GET]</b> : Permet de récupérer les 5 dernières moyennes pour un capteur.</li>
    <li><b>/api/get_last_medianes/sensor_id [GET]</b> : Permet de récupérer les 5 dernières medianes pour un capteur.
    </li>
    <li><b>/api/sensorvalues [GET]</b> : Permet de récupérer toutes les données capteurs et valeurs.</li>
    <li><b>/api/addvalue[POST]</b> : Permet d'ajouter une valeur, sous cette forme :
        data = {
        "id": Capteur_test;
        "date": Date_test,
        "moyenne": mean,
        "mediane": mediane
        }
    </li>
    <li><b>/api/deleteallsensorvalues [GET]</b> : Permet de supprimer tous les capteurs et valeurs de la base.</li>
</ul>
</p>
<h3 class="h3">Repos liés à l'exercice :</h3>
<ul>
    <li>
        https://bitbucket.org/j_lowlighto/exos_client/
    </li>
        <li>
        https://bitbucket.org/j_lowlighto/exos_server/
    </li>
</ul>
</p>
<p><b>Cliquez sur un capteur à gauche pour analyser ses données</b></p>

{% endblock %}