{% extends "layout.html" %}
{% block content %}
<div style="margin-top: 55px"
     class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1 class="h2">Moyennes (5 dernières)</h1>
</div>
<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead class="thead-dark">
        <tr>
            <th>Date</th>
            <th>Moyenne</th>
        </tr>
        </thead>
        <tbody id="tableau_moyennes">
        {% for key, value in moyennes.items() %}
        <tr>
            <td>{{key}}</td>
            <td>{{value}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<canvas id="chart_moyennes" width="700" height="200"></canvas>
<br/><br/><br/><br/>
<div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1 class="h2">Médianes (5 dernières)</h1>
</div>
<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead class="thead-dark">
        <tr>
            <th>Date</th>
            <th>Mediane</th>
        </tr>
        </thead>
        <tbody id="tableau_medianes">
        {% for key, value in medianes.items() %}
        <tr>
            <td>{{key}}</td>
            <td>{{value}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<canvas class="my-4" id="chart_medianes" width="700" height="200"></canvas>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
<script type="text/javascript">

$(document).ready(function() {
    // Fetch every 5 seconds
    setInterval(refreshTable, 10000);
});

var ctx = document.getElementById("chart_moyennes");
      var myChart = new Chart(ctx, {
        type: 'line',
        data: {

          labels:        [{% for key, value in moyennes.items() %}
                "{{key}}",
       {% endfor %}],
          datasets: [{
            data: [{% for key, value in moyennes.items() %}
                "{{value}}",
       {% endfor %}],
            lineTension: 0,
            backgroundColor: 'transparent',
            borderColor: '#007bff',
            borderWidth: 4,
            pointBackgroundColor: '#007bff'
          }]
        },
        options: {
          scales: {
            yAxes: [{
              ticks: {
                beginAtZero: false
              }
            }]
          },
          legend: {
            display: false,
          }
        }
      });




var ctx2 = document.getElementById("chart_medianes");
      var myChart2 = new Chart(ctx2, {
        type: 'line',
        data: {

          labels:        [{% for key, value in medianes.items() %}
                "{{key}}",
       {% endfor %}],
          datasets: [{
            data: [{% for key, value in medianes.items() %}
                "{{value}}",
       {% endfor %}],
            lineTension: 0,
            backgroundColor: 'transparent',
            borderColor: '#007bff',
            borderWidth: 4,
            pointBackgroundColor: '#007bff'
          }]
        },
        options: {
          scales: {
            yAxes: [{
              ticks: {
                beginAtZero: false
              }
            }]
          },
          legend: {
            display: false,
          }
        }
      });

function refreshTable(){
    $.getJSON('http://localhost:8000/api/get_last_medianes/{{sensor_id}}', function(data) {
        var medianes = '';
        var medianes_list = []
        var keys = []
        $.each(data, function(key, value) {
            medianes_list.push(value);
            keys.push(key);
            medianes += '<tr>';
            medianes += '<td>' +key + '</td>';
            medianes += '<td>' + value +' </td>';
            medianes += '</tr>';
        });
        myChart2.labels = keys;
        myChart2.data.datasets = [{data : medianes_list,             lineTension: 0,
            backgroundColor: 'transparent',
            borderColor: '#007bff',
            borderWidth: 4,
            pointBackgroundColor: '#007bff' }]
        myChart2.update()

        // We use .html instead of .append here, to make sure we don't add the same
        // entries when the interval is ran for the n-th time.
        $('#tableau_medianes').html(medianes);
    });

    $.getJSON('/api/get_last_means/{{sensor_id}}', function(data) {
        var means = '';
        var moyennes_list = []
        var keys = []
        $.each(data, function(key, value) {
            moyennes_list.push(value);
            keys.push(key);
            means += '<tr>';
            means += '<td>' +key + '</td>';
            means += '<td>' + value +' </td>';
            means += '</tr>';
        });

        myChart.labels = keys;
        myChart.data.datasets = [{data : moyennes_list,             lineTension: 0,
            backgroundColor: 'transparent',
            borderColor: '#007bff',
            borderWidth: 4,
            pointBackgroundColor: '#007bff' }]
        myChart.update()
        // We use .html instead of .append here, to make sure we don't add the same
        // entries when the interval is ran for the n-th time.
        $('#tableau_moyennes').html(means);
    });
}











</script>
{% endblock %}


