<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="utf-8">
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/home_style.css') }}" rel="stylesheet">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% endblock %}
</head>
<body>
<header>
    <nav class="navbar navbar-dark bg-dark fixed-top shadow flex-md-nowrap">
        <span class="navbar-text main-title text-xs-center">Jad EL AMRANI - POC IOT</span>
    </nav>
</header>
<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                    <span>Capteurs</span>
                    <a class="d-flex align-items-center text-muted" href="#">
                        <span data-feather="plus-circle"></span>
                    </a>
                </h6>
                <ul class="nav flex-column mb-2">
                    {% for sensor_id in sensor_ids %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('iot_status', sensor_id=sensor_id)}}">
                            <span data-feather="file-text"></span>
                            {{sensor_id}}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </nav>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-10 px-4">
            {% block content %}{%endblock %}

        </main>
    </div>
</div>

</body>
</html>